<head>
  <link rel="stylesheet" href="../Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../Content/css/styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">Welcome to the Epicodus Hair Salon!</h1>
  <h2 id="current-stylists-header">Our Stylists</h2>
  <ul>
    @foreach (var stylist in Model)
    {
      <li><a href="/@stylist.GetId()/@stylist.GetFirstName()_@stylist.GetLastName()/client_list">@stylist.GetFirstName() @stylist.GetLastName()</a></li>
    }
  </ul>
  <h2 id="add-stylist-header">Add a New Stylist</h2>
  <form class="form-group" action="/stylist/new/created" method="post">
    <div class="row">
<!-- Name Start -->
      <div class="col-xs-6">
        <p>First Name<input type="text" name="stylist-first-name" class="form-control"></p>
      </div>
      <div class="col-xs-6">
        <p>Last Name<input type="text" name="stylist-last-name" class="form-control"></p>
      </div>
    </div>
    <div class="row">
<!-- Other Info Start -->
      <div class="col-xs-2">
        <p>Phone Number<input type="text" name="stylist-phone-number" class="form-control"></p>
      </div>
      <div class="col-xs-3">
        <p>Email Address<input type="text" name="stylist-email" class="form-control"></p>
      </div>
      <div class="col-xs-3">
        <p>Street Address<input type="text" name="stylist-street-address" class="form-control"></p>
      </div>
      <div class="col-xs-2">
        <p>City<input type="text" name="stylist-city" class="form-control"></p>
      </div>
      <div class="col-xs-1">
        <p>State<input type="text" name="stylist-state" class="form-control"></p>
      </div>
      <div class="col-xs-1">
        <p>Zipcode<input type="text" name="stylist-zipcode" class="form-control"></p>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Add Stylist</button>
  </form>
<!-- Delete All Start -->
  <form class="form-group" action="/stylist/all_deleted" method="post">
    <button type="button" class="btn btn-danger">Delete All Stylists</button>
  </form>
</body>
