<head>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">Deleted Stylist</h1>
  <h2>You have deleted @Model.GetName() and all corresponding clients from your registry</h2>
</body>
