<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  <div class="created-deleted">
    <h2>You have added a new stylist to your shop records: <em>@Model.GetFirstName() @Model.GetLastName()</em></h2>
    <h2><a href="/">Home</a></h2>
  </div>
</body>
