<head>
  <link rel="stylesheet" href="../Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../Content/css/styles.css" type="text/css">
</head>
<body>
  <div class="created-deleted">
    <h2>You have deleted <em>@Model.GetFirstName() @Model.GetLastName()</em> and all corresponding clients from your registry</h2>
    <h2><a href="/">Home</a></h2>
  </div>
</body>
