<head>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">Added a New Stylist</h1>
  <h2>You have added a new stylist to your shop: @Model.GetName()</h2>
  <p><a href="/">Home</a></p>
</body>
