body {
  font-family: serif;
  color: #000000;
  background-color: #FFFFFF;
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  font-size: 60pt;
  text-align: center;
}

h2 {
  font-size: 35pt;
  text-align: center;
}

h3 {
  text-align: center;
}

/*----------------------Index Page----------------------*/

#current-stylists-header, #current-clients-header {
  margin-top: 50px;
  margin-bottom: 30px;
}

#add-stylist-header, #add-client-header {
  margin-top: 75px;
  margin-bottom: 30px;
}

/*----------------------Forms & Lists----------------------*/

ul {
  list-style: none;
}

li {
  font-size: 20pt;
  text-align: center;
}

#client-name {
  font-size: 25pt;
}

p {
  font-size: 15pt;
}

/*----------------------Buttons----------------------*/

.btn-success {
  font-size: 15pt;
  margin-top: 35px;
  margin-bottom: 50px;
}

.btn-warning {
  font-size: 12pt;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-danger {
  font-size: 20pt;
  margin-bottom: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#delete-one-stylist {
  margin-top: 75px;
}

/*----------------------Stylist Created & Deleted Pages----------------------*/

.created-deleted {
  margin-top: 15%;
}

.created-deleted h2 {
  margin-top: 75px;
}
